{{- define "vstr" -}}
"{{ replace (replace (replace . `"` `" + {"""} + "` -1) `${` `" +` -1) `}$` `+ "` -1}}"
{{- end }}

vcl 4.1;

import std;
import directors;
import xkey;
import purge;
import var;
import curl;
import cookie;

{{ if eq (getenv "BACKEND_PROBE") "true" }}
probe delivery_probe {
  .url = "{{ getenv "BACKEND_PROBE_URL" }}";
  .interval = {{ getenv "BACKEND_PROBE_INTERVAL" }};
  .timeout = {{ getenv "BACKEND_PROBE_TIMEOUT" }};
  .window = {{ getenv "BACKEND_PROBE_WINDOW" }};
  .threshold = {{ getenv "BACKEND_PROBE_THRESHOLD" }};
  .initial = {{ getenv "BACKEND_PROBE_THRESHOLD" }};
}
{{ end }}

{{ $BACKENDS := (split (getenv "BACKEND") ",") }}
{{ $REMOTE_BACKENDS := (split (getenv "REMOTE_BACKEND") ",") }}
{{ $REDIRECTS_BACKENDS := (split (getenv "REDIRECTS_BACKEND") ",") }}

{{ $ERROR_PAGE := getenv "ERROR_PAGE" "" }}
{{ $ERROR_PAGE_SEG := split $ERROR_PAGE "/" }}
{{ $IS_ERROR_PAGE_REMOTE := eq "http:" (index $ERROR_PAGE_SEG 0) }}
{{ define "ERROR_PAGE_PATH" -}}
  {{- $ERROR_PAGE := getenv "ERROR_PAGE" "" -}}
  {{- $ERROR_PAGE_SEG := split $ERROR_PAGE "/" -}}
  {{- $IS_ERROR_PAGE_REMOTE := eq "http:" (index $ERROR_PAGE_SEG 0) -}}
  {{- if $IS_ERROR_PAGE_REMOTE -}}
    {{- replace $ERROR_PAGE (printf "http://%s" (index $ERROR_PAGE_SEG 2)) "" 1 -}}
  {{- else -}}
    {{- $ERROR_PAGE -}}
  {{- end -}}
{{- end -}}

{{ if $IS_ERROR_PAGE_REMOTE }}
backend backend_error {
  {{- $backend := (split (index $ERROR_PAGE_SEG 2) ":") }}
  .host = "{{ index $ERROR_PAGE_SEG 2 }}";
  .port = "{{ if eq 2 (len $backend) }}{{ index $backend 1 }}{{ else }}80{{ end }}";
}
{{ end }}

{{ range $backendIndex, $hostnameWithPort := $BACKENDS }}
  {{- $backend := (split $hostnameWithPort ":") }}
  {{ range $ipIndex, $ip := lookupIP (index $backend 0) }}
backend backend_delivery_{{ $backendIndex }}_{{ $ipIndex }} {
  .host = "{{ $ip }}";
  .port = "{{ if eq 2 (len $backend) }}{{ index $backend 1 }}{{ else }}80{{ end }}";

  .max_connections        = {{ getenv "BACKEND_MAX_CONNECTIONS" }};
  .first_byte_timeout     = {{ getenv "BACKEND_FIRST_BYTES_TIMEOUT" }}; # How long to wait before we receive a first byte from our backend?
  .between_bytes_timeout  = {{ getenv "BACKEND_BETWEEN_BYTES_TIMEOUT" }};  # Max time to wait for next package in an http response
  .connect_timeout        = {{ getenv "BACKEND_CONNECT_TIMEOUT" }};  # How long to wait for a backend connection?
  {{ if eq (getenv "BACKEND_PROBE") "true" }}.probe = delivery_probe;{{ end }}
}
  {{ end }}
{{ end }}

{{ if (getenv "REMOTE_BACKEND") }}
  # Remote backends are unmonitored backends that only
  {{ range $backendIndex, $hostnameWithPort := $REMOTE_BACKENDS }}
    {{ $backend := (split $hostnameWithPort ":") }}

    {{ range $ipIndex, $ip := lookupIP (index $backend 0) }}
backend backend_remote_{{ $backendIndex }}_{{ $ipIndex }} {
  .host = "{{ $ip }}";
  .port = "{{ if eq 2 (len $backend) }}{{ index $backend 1 }}{{ else }}80{{ end }}";
}
    {{ end }}
  {{ end }}
{{ end }}

{{ if (getenv "REDIRECTS_BACKEND") }}
# redirects
{{ range $backendIndex, $hostnameWithPort := $REDIRECTS_BACKENDS }}
  {{- $backendredirect := (split $hostnameWithPort ":") }}
  {{ range $ipIndex, $ip := lookupIP (index $backendredirect 0) }}
backend backend_redirects_{{ $backendIndex }}_{{ $ipIndex }} {
  .host = "{{ $ip }}";
  .port = "{{ if eq 2 (len $backendredirect) }}{{ index $backendredirect 1 }}{{ else }}80{{ end }}";

  .max_connections        = {{ getenv "BACKEND_MAX_CONNECTIONS" }};
  .first_byte_timeout     = {{ getenv "BACKEND_FIRST_BYTES_TIMEOUT" }}; # How long to wait before we receive a first byte from our backend?
  .between_bytes_timeout  = {{ getenv "BACKEND_BETWEEN_BYTES_TIMEOUT" }};  # Max time to wait for next package in an http response
  .connect_timeout        = {{ getenv "BACKEND_CONNECT_TIMEOUT" }};  # How long to wait for a backend connection?
  {{ if eq (getenv "BACKEND_PROBE") "true" }}.probe = delivery_probe;{{ end }}
}
  {{ end }}
{{ end }}

{{ end }}

{{ $PURGE_IP_WHITELIST := (split (getenv "PURGE_IP_WHITELIST") ",") }}

# allowed to purge
acl purge_acl {
  # Localhost
  "localhost";
  "127.0.0.1";
  "::1";
  # Private networks
  "10.0.0.0"/8;
  "172.16.0.0"/12;
  "192.168.0.0"/16;
  {{ range $i, $ipRange := $PURGE_IP_WHITELIST }}
  {{ $ipRange }};
  {{ end }}
}

sub vcl_init {
  var.global_set("health", "200");

  new delivery = directors.round_robin();
  {{- range $backendIndex, $hostnameWithPort := $BACKENDS -}}
    {{- $backend := (split $hostnameWithPort ":") -}}
    {{ range $ipIndex, $ip := lookupIP (index $backend 0) }}
  delivery.add_backend(backend_delivery_{{ $backendIndex }}_{{ $ipIndex }});
    {{- end -}}
  {{- end }}

{{ if (getenv "REDIRECTS_BACKEND") }}
  new redirects = directors.round_robin();
  {{- range $backendIndex, $hostnameWithPort := $REDIRECTS_BACKENDS -}}
    {{- $backend := (split $hostnameWithPort ":") -}}
    {{ range $ipIndex, $ip := lookupIP (index $backend 0) }}
  redirects.add_backend(backend_redirects_{{ $backendIndex }}_{{ $ipIndex }});
    {{- end -}}
  {{- end }}
{{ end }}

{{ if (getenv "REMOTE_BACKEND") }}
  {{ range $backendIndex, $hostnameWithPort := $REMOTE_BACKENDS }}
  new remote_{{ $backendIndex }} = directors.round_robin();
    {{- range $backendIndex, $hostnameWithPort := $BACKENDS -}}
      {{- $backend := (split $hostnameWithPort ":") -}}
      {{ range $ipIndex, $ip := lookupIP (index $backend 0) }}
  remote_{{ $backendIndex }}.add_backend(backend_remote_{{ $backendIndex }}_{{ $ipIndex }});
      {{- end -}}
    {{- end }}
  {{ end }}
{{ end }}
}

sub can_purge {
  # purge_acl is an ACL defined above, we check the ip is in there
  if (client.ip !~ purge_acl) {
    return (synth(405, "The IP '" + client.ip + "' is not allowed to send " + req.method +  " requests."));
  }
}

sub vcl_recv {
  {{ getenv "VARNISH_HOOK_VCL_RECV_START" "" }}
  if (!req.http.host) { set req.http.host = "" + server.ip; }

  if (req.url == "/favicon.ico" || req.url == "/status") {
    std.log("nolog:true");
  } else if (req.url == "/_health") {
    std.log("nolog:true");
    set req.http.status = var.global_get("health");

    if (req.method == "POST") {
      if (client.ip ~ purge_acl) {
        set req.http.health = std.integer(req.http.health, 0);
        if (req.http.health !~ "^[2345]") {
          return (synth(405, "Cannot set the invalid health status code '" + req.http.health + "' using a POST /_health request."));
        }
        var.global_set("health", req.http.health);
      } else {
        return (synth(405, "The IP '" + client.ip + "' is not allowed to send a POST /_health request."));
      }
    }

    return (synth(222, req.http.status));
  }

  # Preventing the scenario where the user can add another letter after lid=true, which will remove the block
  if (req.url ~ "(\?|&)lid=true") {
    set req.url = regsuball(req.url, "lid=[-_A-z0-9+()%.]+", "lid=true");
  }
  if (req.url ~ "(\?|&)pid=true") {
    set req.url = regsuball(req.url, "pid=[-_A-z0-9+()%.]+", "pid=true");
  }

  if (req.http.Error-Status) {
    set req.http.host = "error";
    {{ if $ERROR_PAGE }}
    set req.url = regsub("{{ template "ERROR_PAGE_PATH" }}", "{{`{{code}}`}}", req.http.Error-Status);
    {{ end }}
    set req.backend_hint = {{ if $IS_ERROR_PAGE_REMOTE }}backend_error{{ else }}delivery.backend(){{ end }};
  }
  {{ if (getenv "REMOTE_BACKEND") }}
  {{ range $backendIndex, $hostnameWithPort := $REMOTE_BACKENDS }}
    {{- $backend := (split $hostnameWithPort ":") }}
    {{- $hostname := (index $backend 0) }}
  else if (req.http.host == "{{ $hostname }}") {
    set req.backend_hint = remote_{{ $backendIndex }}.backend();
  }
  {{ end }}
  {{ end }}
  else {
    set req.backend_hint = delivery.backend();
  }

  if (!req.http.Accept) { set req.http.Accept = "text/html"; }
  else if (req.http.Accept ~ "text/html") { set req.http.Accept = "text/html"; }
  else if (req.http.Accept ~ "application/json") { set req.http.Accept = "application/json"; }
  else if (req.http.Accept ~ "application/xml") { set req.http.Accept = "application/xml"; }
  else if (req.http.Accept ~ "text/plain") { set req.http.Accept = "text/plain"; }
  else { set req.http.Accept = "text/html"; }

  # BAN is a hard ban. The object won't ever served again in the frontend
  if (req.method == "BAN") {
    call can_purge;
    if (req.http.X-Cache-Tags) { ban("obj.http.xkey ~ " + req.http.X-Cache-Tags); }
    else if (req.http.ban) { ban(req.http.ban); }
    else { purge.hard(); }
    return (synth(200, "Banned"));
  }

  # PURGE is a soft ban. The object will still be served, but refreshed in the background
  if (req.method == "PURGE") {
    call can_purge;
    if (req.http.X-Cache-Tags) {
      xkey.softpurge(req.http.X-Cache-Tags);
      return (synth(200, "Purged"));
    }

    if (req.http.Cache-Control ~ "no-cache") { set req.hash_always_miss = true; }
    return (hash);
  }

  # Support websockets
  if (req.http.upgrade ~ "(?i)websocket") { return (pipe); }

  # Only cache GET or HEAD requests. This makes sure the POST requests are always passed.
  if (req.method != "GET" && req.method != "HEAD" && req.method != "OPTIONS") { return (pass); }

  {{ if eq (getenv "VARNISH_STRIP_QUERYSTRING") "true" }}
  # Strip all query strings
  set req.url = regsub(req.url, "\?.*$", "");
  {{ else }}
  # Some generic URL cleanup, useful for all templates that follow
  # First remove the Google Analytics added parameters, useless for our backend
  if (req.url ~ "(\?|&)(dmcid|fbclid|gclid|utm_[a-z]+|originalReferrer)=") {
    set req.url = regsuball(req.url, "(dmcid|fbclid|gclid|utm_[a-z]+|originalReferrer)=[-_A-z0-9+()%./:]+&?", "");
  }

  # Strip a trailing ? if it exists
  if (req.url ~ "\?$") {
    set req.url = regsub(req.url, "\?$", "");
  }

  # Normalize the query arguments
  set req.url = std.querysort(req.url);
  {{ end }}

  # Nuke all cache
  unset req.http.X-Cache;

  {{ getenv "VARNISH_CUSTOM_SCRIPT" "" }}

  if (req.http.Cookie) {
    cookie.parse(req.http.Cookie);
    cookie.keep("MPP-SessionId,sso-sessionId,AccessToken");
    set req.http.Cookie = cookie.get_string();
  }

  return (hash);
}

// Websocket support
sub vcl_pipe {
  set req.http.X-Cache = "pipe";
  if (req.http.upgrade) {
    set bereq.http.upgrade = req.http.upgrade;
    set bereq.http.connection = req.http.connection;
  }
}

# Called after vcl_recv to create a hash value for the request. This is used
# as a key to look up the object in Varnish.
# These hash subs are executed in order, they should not return anything
# and the hashed data will later on get concatenated by the default vcl_hash.
sub vcl_hash {
  # Cache based on hostname or ip
  hash_data(req.http.host);

  # Cache based on user agent
  if (req.http.User-Agent ~ "^[a-zA-Z0-9-]+$") { hash_data(req.http.User-Agent); }
  if (req.http.Authorization) { hash_data(req.http.Authorization); }

  hash_data(req.http.Accept);

  # Cache based on url
  hash_data(req.url);
}

sub custom_purge {
  purge.soft();
  // Only wait for a refresh of the object when a Cache-Control: no-cache header is used
  if (!req.hash_always_miss) { return (synth(200, "Purged")); }
}

sub vcl_hit {
  if (req.method == "PURGE") { call custom_purge; }
  if (obj.ttl >= 0s) { set req.http.X-Cache = "HIT"; }
  else if (obj.ttl + obj.grace > 0s) { set req.http.X-Cache = "STALE"; }
  else if (obj.ttl + obj.grace + obj.keep > 0s) { set req.http.X-Cache = "KEEP"; }
  return (deliver);
}

sub vcl_miss {
  if (req.method == "PURGE") { call custom_purge; }
  set req.http.X-Cache = "MISS";
  return (fetch);
}

sub vcl_backend_fetch {
  if (bereq.retries > 0) {
    if (bereq.http.host == "error") { set bereq.backend = {{ if $IS_ERROR_PAGE_REMOTE }}backend_error{{ else }}delivery.backend(){{ end }}; }
    else { set bereq.backend = delivery.backend(); }
  }
  return (fetch);
}

# Handle the HTTP request coming from our backend
# Called after the response headers has been successfully retrieved from the backend.
sub vcl_backend_response {
  if (bereq.uncacheable) { return (deliver); }
  set beresp.http.url = bereq.url;

  # Enable ESI for pages that request it
  if (beresp.http.Surrogate-Control ~ "ESI/1.0") {
    set beresp.do_esi = true;
  }

  # Make sure that varnish always saves the gzipped content, even
  # when the backend just returns raw text content
  if (beresp.http.content-type ~ "(text|javascript|json|xml|font)") {
    set beresp.do_gzip = true;
  } else {
    set beresp.do_stream = true;
  }

  # Directly pass 50x responses to handle_request_errors
  if (beresp.status >= 500 && beresp.status <= 504) {
    if (bereq.is_bgfetch) { return (abandon); }
    if (bereq.retries < {{getenv "BACKEND_FETCH_RETRIES" "1"}}) { return (retry); }

    {{ if $ERROR_PAGE }}
    if (bereq.http.host == "error") { return (abandon); }
    set beresp.ttl = 15s;
    set beresp.http.Follow-Error-Status = beresp.status;
    return (deliver);
    {{ else }}
    set beresp.ttl = 15s;
    return (deliver);
    {{ end }}
  }

  if (bereq.http.host == "error") {
    set beresp.grace = 30d;
    set beresp.ttl = 5m;
    return (deliver);
  }

  # Directly pass 404 statuses, cache for 10s to throttle requests to a backend
  # Check how we want to invalidate pages. Are 410 responses properly handled?
  if (beresp.status == 404) {
    set beresp.ttl = 10s;
    return (deliver);
  }

  # Allow stale content, in case the backend goes down.
  # We make Varnish keep all objects for 24 hours (default_grace config) beyond their TTL
  if (beresp.http.X-Varnish-Grace) {
    set beresp.grace = std.duration(beresp.http.X-Varnish-Grace + "s");
    unset beresp.http.X-Varnish-Grace;
  }

  // Varnish suggests to save the url on a header,
  // so their ban() logic is more performant
  set beresp.http.url = bereq.url;

  # Support X-Cache-Tags headers for xkey, remove the original header
  if (beresp.http.X-Cache-Tags) {
    set beresp.http.xkey = beresp.http.X-Cache-Tags;
    unset beresp.http.X-Cache-Tags;
  }
}

# Called before a cached/fresh object is delivered to the client.
sub vcl_deliver {
  {{ getenv "VARNISH_HOOK_VCL_DELIVER_START" "" }}
  // Always serve a synth response because we don't want to waste the bandwidth
  if (req.method == "PURGE") { return (synth(resp.status, "Purged")); }

  if (resp.http.Follow-Error-Status) {
    set req.http.Error-Status = resp.http.Follow-Error-Status;
    return (restart);
  } else if (req.http.host == "error") {
    set resp.status = std.integer(req.http.Error-Status, 500);
    set resp.http.Follow-Error-Status = resp.status;
  } else if (resp.http.Follow-Location == "true") {
    set req.url = resp.http.Location;
    return (restart);
  }

  # Add Cache Grace Info to Response (set in vcl_hit)
  if (resp.http.X-Served-By) { set resp.http.X-Served-By = "{{getenv "HOSTNAME_PREFIX" ""}}{{getenv "HOSTNAME"}}, " + resp.http.X-Served-By; }
  else { set resp.http.X-Served-By = "{{getenv "HOSTNAME_PREFIX" ""}}{{getenv "HOSTNAME"}}"; }

  if (resp.http.X-Cache) { set resp.http.X-Cache = req.http.X-Cache + ", " + resp.http.X-Cache; }
  else { set resp.http.X-Cache = req.http.X-Cache; }

  if (resp.http.X-Cache-Hits) { set resp.http.X-Cache-Hits = obj.hits + ", " + resp.http.X-Cache-Hits; }
  else { set resp.http.X-Cache-Hits = "" + obj.hits; }

  # Disable ETag for ESI pages as the ETag of subrequests doesn't propagate to the parent
  # Pages served would always rely on the cache of the main page and therefore
  # never refresh, even if the subrequest is updated
  if (resp.http.Surrogate-Control ~ "ESI/1.0") {
    unset resp.http.ETag;
    unset resp.http.Last-Modified;
  }

  # Remove some headers
  unset resp.http.url;
  unset resp.http.Server;
  unset resp.http.X-Varnish;
  unset resp.http.Via;
  unset resp.http.X-Generator;
  unset resp.http.Surrogate-Control;
  unset resp.http.xkey;

  {{ if (getenv "BOT_VERIFICATION") }}
    call bot_verification;
  {{ end }}

  {{ if (getenv "E_METER_URL") }}{{ if (getenv "E_METER_X_TOKEN") }}
  call paywall_subroutine;
  {{ end }}{{ end }}

  return (deliver);
}

sub vcl_backend_error {
  if (bereq.is_bgfetch) { return (abandon); }
  if (bereq.retries < {{getenv "BACKEND_FETCH_RETRIES" "1"}}) { return (retry); }

  {{ if $ERROR_PAGE }}
  if (bereq.http.host == "error") { return (abandon); }
  set beresp.ttl = 15s;
  set beresp.http.Follow-Error-Status = beresp.status;
  return (deliver);
  {{ else }}
  set beresp.ttl = 15s;
  set beresp.grace = 0s;
  return (retry);
  {{ end }}
}

sub vcl_synth {
  {{ if $ERROR_PAGE }}
  if (resp.status == 503 && req.http.host != "error") {
    if (resp.http.Follow-Error-Status) {set req.http.Error-Status = resp.http.Follow-Error-Status;}
    else {set req.http.Error-Status = resp.status;}
    return (restart);
  }
  {{ end }}

  if (resp.status == 301) {
    set resp.http.location = resp.reason;
  } else if (resp.status == 302) {
    set resp.http.location = resp.reason;
  } else if (resp.status == 307) {
    set resp.http.location = resp.reason;
  } else if (resp.status == 222) {
    set resp.status = std.integer(resp.reason, 503);
  }

  {{ if (getenv "E_METER_URL") }}
    if (resp.status == 751) {
      set resp.status = 302;
      if (var.get_string("eMeterLocation") != "") {
        if (req.url !~ "\?") {
          set resp.http.Location = "https://" + req.http.Host + req.url + "?" + var.get_string("eMeterLocation");
        } else {
          set resp.http.Location = "https://" + req.http.Host + req.url + "&" + var.get_string("eMeterLocation");
        }
        var.clear();
        return (deliver);
      } else {
        set resp.http.Location = "https://" + req.http.Host + req.url;
        var.clear();
        return (deliver);
      }
    }
  {{ end }}

  set resp.http.X-Served-By = "{{getenv "HOSTNAME_PREFIX" ""}}{{getenv "HOSTNAME"}}";
  set resp.http.X-Cache = "SYNTH";
  unset resp.http.X-Varnish;
  unset resp.http.Server;

  if (req.http.Accept == "application/json") {
    set resp.http.Content-Type = "application/json; charset=utf-8";
    set resp.body = {{ template "vstr" `{"status":${resp.status}$,"message":"${resp.reason}$"}`}};
  } else if (req.http.Accept == "text/html") {
    set resp.http.Content-Type = "text/html; charset=utf-8";
    set resp.body = {{ template "vstr" `<!DOCTYPE html><html><head><title>${resp.status}$ ${resp.reason}$</title></head><body><h1>${resp.status}$ ${resp.reason}$</h1></body></html>`}};
  } else {
    set resp.http.Content-Type = "text/plain; charset=utf-8";
    set resp.body = {{ template "vstr" `${resp.status}$ ${resp.reason}$` }};
  }

  return (deliver);
}

sub vcl_fini {
  return (ok);
}
{{ if (getenv "BOT_VERIFICATION") }}
sub bot_verification {
  if (req.http.User-Agent ~ "(?i)googlebot" && resp.http.X-Paid-Content == "true") {
    curl.set_timeout(1000);
    var.set_string("botVerificationUrl", "{{ getenv "BOT_VERIFICATION" }}" + "?ip=");
    if (req.http.X-Real-IP != "") {
      var.set_string("botVerificationUrl", var.get_string("botVerificationUrl") + req.http.X-Real-IP);
    }
    curl.get(var.get_string("botVerificationUrl"));
    if (curl.status() > 0) {
      set req.http.verified-bot = curl.header("X-Bot-Name");
    }
    curl.free();
  }
}
{{ end }}

{{ if (getenv "E_METER_URL") }}{{ if (getenv "E_METER_X_TOKEN") }}
sub paywall_subroutine {
  if (req.http.host + req.url !~ "\.(gif|ico|jpg|jpeg|png|css|js|woff)"
      && resp.http.X-Paid-Content == "true"
  ) {
      var.set_string("eMeterQuery", {"{ "X-TokenId" : ""} + "{{ getenv "E_METER_X_TOKEN" }}"
        + {"", "REQUEST_URI" : ""} + req.http.host + req.url
        + {"", "EndUserClientIp" : ""} + client.ip
        + {"", "EndUserClientIdentity" : ""} + client.identity
        + {"", "VarnishServerIp" : ""}  + server.ip
        + {"", "PaidArticle" : ""}  + resp.http.X-Paid-Content
        + {"", "ProbeVersion" : "1.1.0""}
      );

      if (resp.http.X-Free-Showcase != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "FreeShowcase" : ""} + resp.http.X-Free-Showcase + {"""});
      }

      if (req.http.Cookie != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "Cookie" : ""} + req.http.Cookie + {"""});
      }

      if (req.http.ContentType != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "ContentType" : ""} + req.http.ContentType + {"""});
      }

      if (req.http.Referer != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "Referer" : ""} + req.http.Referer + {"""});
      }

      if (req.http.User-Agent != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "User-Agent" : ""} + req.http.User-Agent + {"""});
      }

      if (resp.http.X-TENANT != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "TENANT" : ""} + resp.http.X-TENANT + {"""});
      }

      if (resp.http.X-Paywall-Type != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "PaywallType" : ""} + resp.http.X-Paywall-Type + {"""});
      }

      if (req.http.X-Real-IP != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "EndUserClientRealIp" : ""} + req.http.X-Real-IP + {"""});
      }

      if (req.http.verified-bot != "") {
        var.set_string("eMeterQuery", var.get_string("eMeterQuery") + {", "VerifiedBot" : ""} + req.http.verified-bot + {"""});
      }

      var.set_string("eMeterQuery", var.get_string("eMeterQuery") + " }");
      curl.set_timeout(2000);
      curl.post("{{ getenv "E_METER_URL" }}", var.get_string("eMeterQuery"));

      if (curl.status() > 0) {
        var.set_string("eMeterAllowAccess", curl.header("AllowAccess"));
        var.set_string("eMeterLocation", curl.header("Location"));
        if (var.get_string("eMeterAllowAccess") == "false" && var.get_string("eMeterLocation") != "") {
          if (var.get_string("eMeterLocation") ~ "pwlayout=") {
            if (resp.http.Set-Cookie) {
              set resp.http.Set-Cookie = resp.http.Set-Cookie + var.get_string("eMeterLocation") + "; path=/;";
            } else {
              set resp.http.Set-Cookie = var.get_string("eMeterLocation") + "; path=/;";
            }
          }
          if (var.get_string("eMeterLocation") ~ "lid=true" && req.url !~ "(\?)lid=true") {
            set req.url = regsuball(req.url, "(\?)(.*)", "");
            return (synth(751, "eMeter redirection"));
          }

          if (var.get_string("eMeterLocation") ~ "pid=true" && req.url !~ "(\?)pid=true") {
            set req.url = regsuball(req.url, "(\?)(.*)", "");
            var.set_string("eMeterLocation", regsub(var.get_string("eMeterLocation"), "lid=true", ""));
            return (synth(751, "eMeter redirection"));
          }

          if (req.url ~ "(\?|&)lid=true" && req.url ~ "(\?|&)pid=true") {
            set req.url = regsuball(req.url, "(\?)(.*)", "");
            return (synth(751, "eMeter redirection"));
          }
        } else if (req.url ~ "(\?|&)(lid|pid)=") {
          set req.url = regsuball(req.url, "(lid|pid)=[-_A-z0-9+()%.]+&?", "");
          set req.url = regsub(req.url, "[?|&]+$", "");
          return (synth(751, "eMeter redirection"));
        }
      }
      curl.free();
  }
}
  {{ end }}{{ end }}
